# Python cache
__pycache__/
*.py[codz]

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables / secrets
.env
.envrc

# IDE
.vscode/
.idea/

# Logs
*.log

# Testing / cache
.pytest_cache/
.coverage
htmlcov/

# Temporary files
tempCodeRunnerFile.py

# RAG generated data
src/data

# model
models